<style>
  .container {
    width: 800px;
    justify-content: center;
    align-items: center;
    align-content: center;
    display: flex;
    flex-direction: column;
  }

  .value {
    padding: 10px;
    margin: 5px;
    background: #8257e6;
    color: #FFF;
    border-radius: 6px;
    width: 15px;
    text-align: center;
    text-decoration: none;
  }

  .answers {
    width: 350px;
    display: flex;
    justify-content: space-between;
  }
</style>

<div class="container">
  <label>Olá <strong>{{name}}</strong>!

    <h3>Recebemos uma solicitação de redefinição de senha para a sua conta de usuário</h3>
    <br />
    <strong>Se realmente foi você que solicitou, clique no link abaixo para redefinir a sua senha.</strong>

    <br />
    <br />
    <br />
    <br />
    <div class="asnwers">
      <a class="value" href="{{link}}">Resetar a minha senha</a>
    </div>
    <br />
    <br />

    <strong>Caso você não tenha realizado essa solicitação, descarte este email.</strong>
    <h3>Obrigado!</h3>
    <h3>Equipe | <strong>Api</strong></h3>
</div>
